
.intl-tel-input {
    display: table-cell;
    border: 2px solid black;
  }
  
  .intl-tel-input .selected-flag {
    z-index: 4;
  }
  
  .intl-tel-input .country-list {
    z-index: 5;
   
  }
  
  #tel {
    width: 325px;
    padding: 6px 70px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 6px;
  }
  
  .pt {
    margin-top: 12px ;
    margin-bottom: 10px;
  }
  
  .iti__selected-flag {
    border-right: 1px solid #ccc ;
    width: 60px;
  }
  